In [9]:
#Import required libraries

import pandas as pd
import numpy as np

In [10]:
#Importing the dataset and verifying it's details
data= pd.read_excel("RecSys/dataset.xlsx")
print(data.shape)
data.describe().transpose()

(48, 5)

,count,mean,std,min,25%,50%,75%,max
Which of these would describe the place,48.0,2.291667,0.617419,1.0,2.0,2.0,3.00,3.0
Distance from the campus,48.0,20.645833,15.943370,3.0,6.0,15.0,36.75,48.0
Around much did it cost you (in INR/rupees),48.0,997.291667,916.022251,20.0,487.5,700.0,1225.00,4200.0
How many stars will you give the place?,48.0,3.750000,1.000000,1.0,3.0,4.0,4.00,5.0

In [11]:
#Removing name of place column as it was added for our convenience only
extra_column1 = ['Name of place']
predictors = list(set(list(data.columns))-set(extra_column1))
print(data[predictors].shape)
data[predictors] = data[predictors]/data[predictors].max()
data.describe().transpose()

#data = data/data.max()
#data.describe().transpose()

(48, 4)

,count,mean,std,min,25%,50%,75%,max
Which of these would describe the place,48.0,0.763889,0.205806,0.333333,0.666667,0.666667,1.000000,1.0
Distance from the campus,48.0,0.430122,0.332154,0.062500,0.125000,0.312500,0.765625,1.0
Around much did it cost you (in INR/rupees),48.0,0.237450,0.218101,0.004762,0.116071,0.166667,0.291667,1.0
How many stars will you give the place?,48.0,0.750000,0.200000,0.200000,0.600000,0.800000,0.800000,1.0

In [12]:
data_X = data[predictors].to_numpy()

In [13]:
#Cost function
J = np.zeros(48)

#Rank
Y = np.zeros

In [21]:
mean = np.mean(data_X, axis=0)
mean = np.sum(mean)
#print(mean)
J = np.sum(data_X, axis=1) - mean
#print(J)
J = abs(J)
#print(J)

In [23]:
tempJ = J
rank1 = np.argmin(tempJ)-1
tempJ[np.argmin(tempJ)] = 99
rank2 = np.argmin(tempJ) - 1
tempJ[np.argmin(tempJ)] = 99
rank3 = np.argmin(tempJ) - 1
tempJ[np.argmin(tempJ)] = 99
rank4 = np.argmin(tempJ) - 1
tempJ[np.argmin(tempJ)] = 99
rank5 = np.argmin(tempJ) - 1
print(rank1,rank2,rank3,rank4,rank5)

29 12 41 42 6

In [24]:
print("Recommendation 1: " + (data['Name of place'][rank1]))
print("Recommendation 2: " + (data['Name of place'][rank2]))
print("Recommendation 3: " + (data['Name of place'][rank3]))
print("Recommendation 4: " + (data['Name of place'][rank4]))
print("Recommendation 5: " + (data['Name of place'][rank5]))

Recommendation 1: Goa Karting
Recommendation 2: Vagator
Recommendation 3: Calungute
Recommendation 4: St. Jacinto island
Recommendation 5: Bogmalo